.homePageBody{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 950px;
    height: 750px;
    background-color: #222222;
}

h1, h5{
    color: #F5F5F5;
}


p{
    color: #A7A7A7;
}

.about{
    text-align: left;
    padding: 20px;
}

.blogItemsBody{
    display: flex;
    justify-content: space-around;
}

.cardImg{
    width: 350px;
    height: 200px;
}

.blogItems{
    border: 1px solid #E5E5E5;
    margin-bottom: 7px;
}