.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  margin: 150px 170px 150px 170px ;
  width: 1900px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #444444;
}

.avatarImg{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 15px;
}

.staticInformation{
  height: 750px;
  margin-left: -23%;
}

.socilalIconsBody{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 15px;
}

.container {
  position: relative;
  margin-left: -20%;
}

.page{
  position: absolute;
  left: -500px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}




.pageTwo{
  position: absolute;
  left: -500px;
  right: 15px;
}

.pageTwo-enter {
  opacity: 0;
  transform: scale(1.1);
}

.pageTwo-enter-active {
  opacity: 1;
  transform: rotateX(0.9deg);
  transition: opacity 300ms, transform 300ms;
}

.pageTwo-exit {
  opacity: 1;
  transform: scale(1);
}

.pageTwo-exit-active {
  opacity: 0;
  transform: rotateX(0.9deg);
  transition: opacity 300ms, transform 300ms;
}


.socialIcons{
  padding: 35px;
}

.btnBody{
  padding-bottom: 20px;
}

.btn{
  width: 150px;
  padding: 5px;
  color: #E5E5E5;
  background-color: #444444;
  border-color: #E5E5E5;
  border-radius: 15px;
}

.downloadLink{
  color: #E5E5E5;
  text-decoration: none;
}



